#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.fish-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.fish-card {
  border: 1px solid #efefef;
  padding: 10px 20px;
}
