.card {
  background: #f8f8f7;
  border: 1px solid #e1e1e1;
  padding: 20px;
  @media ($sm) {
  }
}

.title {
  /* text-align: center; */
}

.content {
  flex-direction: column;
}

.type {
  text-transform: uppercase;
  align-self: start;
  padding: 12px 16px 0px;
}

.description {
}
